<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, EnterpriseLibrary.Common" />
    <section name ="externaldummy.filesource" type ="EnterpriseLibrary.Common.Configuration.Tests.DummySection, EnterpriseLibrary.Common.Tests"/>
  </configSections>


  <enterpriseLibrary.ConfigurationSource selectedSource="systemSource">
    <sources>

      <add name="compositeConfigurationFile"
           type="EnterpriseLibrary.Common.Configuration.FileConfigurationSource, EnterpriseLibrary.Common"
           filePath="Configuration\ComposedConfigurationFile.config" />

      <add name="systemSource"
           type="EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, EnterpriseLibrary.Common" />

    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <externaldummy.filesource name="externaldummy.filesource" value="11" />
  
</configuration>
