<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, EnterpriseLibrary.Common" />
    <section name="localdummy" type="EnterpriseLibrary.Common.Configuration.Tests.DummySection, EnterpriseLibrary.Common.Tests" />
    <section name="externaldummy.filesource" type="EnterpriseLibrary.Common.Configuration.Tests.DummySection, EnterpriseLibrary.Common.Tests" />
    <section name="externaldummy.customsource" type="EnterpriseLibrary.Common.Configuration.Tests.DummySection, EnterpriseLibrary.Common.Tests" />
    <section name="localdummy.pointsToSelf" type="EnterpriseLibrary.Common.Configuration.Tests.DummySection, EnterpriseLibrary.Common.Tests" />
    <section name="localdummy.pointsToNothing" type="EnterpriseLibrary.Common.Configuration.Tests.DummySection, EnterpriseLibrary.Common.Tests" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource 
      selectedSource="systemSource" 
      parentSource="externalFile">

    <sources>

      <add name="externalFile"
           type="EnterpriseLibrary.Common.Configuration.FileConfigurationSource, EnterpriseLibrary.Common"
           filePath="ExternalFileSource.config" />

      <add name="systemSource"
           type="EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, EnterpriseLibrary.Common" />

      <add name="customSource"
           type="EnterpriseLibrary.Common.Tests.Configuration.TestObjects.TestConfigurationSource, EnterpriseLibrary.Common.Tests" />


    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <externaldummy.filesource name="externaldummy.filesource"  />


</configuration>
