<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, EnterpriseLibrary.Common" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="InvalidType">

    <sources>

      <add name="InvalidType"
				 type="EnterpriseLibrary.Common.Configuration.InvalidType, EnterpriseLibrary.Common"
			 filePath="securityConfiguration.config"
				 />

    </sources>
  </enterpriseLibrary.ConfigurationSource>

</configuration>
